    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reenie+Beanie&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400;600;700&family=Reenie+Beanie&display=swap');
    /*Font-2
font-family: 'Reenie Beanie', cursive;*/
    
    * {
        font-family: 'Mulish', sans-serif;
        margin: 0px;
        padding: 0px;
        color: hsl(211, 24%, 17%);
        text-decoration: none;
        box-sizing: border-box;
    }
    /* Navigation Menu */
    
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        margin: 80px 160px 0px 160px;
    }
    
    body {
        background-image: url(/assets/background-hero.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* main */
        padding: 12px 16px;
        border-radius: 31px;
        background: #6842EF;
        color: white;
        border: none;
        /* typography */
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    #bullet {
        padding: 24px;
    }
    
    .navLink {
        list-style: none;
        padding: 0px 10px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    /* Hero Section */
    
    .heroSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 969px;
        height: 222px;
    }
    
    .titleTab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 6px 8px;
        border-radius: 27px;
        background: hsla(253, 84%, 60%, 0.122);
        width: 155px;
        height: 36px;
        /* typography */
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #6842EF;
    }
    
    .heroText {
        /* typography */
        font-size: 64px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0px;
        text-align: left;
        gap: 16px;
    }
    
    .subTitle {
        font-family: Reenie Beanie, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 1px;
        text-align: left;
        color: #637381;
    }