    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reenie+Beanie&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400;600;700&family=Reenie+Beanie&display=swap');
     :root {
        --violet: hsl(253, 84%, 60%, 1);
        --light-violet: hsl(253, 84%, 60%, 0.12);
        --light-blue: hsl(209, 100%, 1);
        --brown: hsl(42, 97%, 36%, 1);
        --red: hsl(2, 100%, 63%, 1);
        --green: hsl(150, 100%, 34%, 1);
        --dark-grey: hsl(211, 26%, 16%, 1);
        --light-grey: hsl(208, 13%, 45%, 1);
        --pink: rgb(255, 209, 221, 1);
    }
    
    * {
        font-family: 'Mulish', sans-serif;
        margin: 0px;
        padding: 0px;
        color: var(--dark-grey);
        text-decoration: none;
        box-sizing: border-box;
    }
    /* Navigation Menu */
    
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        margin: 82px 160px 0px 160px;
    }
    
    body {
        background-image: url(/assets/background-hero.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* main */
        padding: 12px 16px;
        border-radius: 31px;
        background: var(--violet);
        color: white;
        border: none;
        /* typography */
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    #bullet {
        padding: 24px;
    }
    
    .navLink {
        list-style: none;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    /* Hero Section */
    
    .heroSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .heroTitle {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        height: 312px;
        width: 1274px;
        gap: 16px;
        position: absolute;
        width: 1274px;
        height: 312.29px;
        left: calc(50% - 1274px/2);
        top: 271px;
    }
    
    .titleTab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 6px 8px;
        border-radius: 27px;
        background: var(--light-violet);
        width: 155px;
        height: 36px;
        /* typography */
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--violet);
    }
    
    .heroText {
        /* typography */
        font-size: 64px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0px;
        text-align: left;
        height: 160px;
        width: 647px;
    }
    
    .subTitle {
        width: 647px;
        font-family: Reenie Beanie, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 1px;
        text-align: left;
        color: var(--light-grey);
    }